<fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.title" }}</label>
    <input data-attribute="title" class="col-3" type="text" />
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.number" }}</label>
    <input data-attribute="number" class="col-3" type="number" />
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.international" }}</label>
    <input data-attribute="international" class="col-3" type="checkbox" />
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.place" }}</label>
    <input data-attribute="place" class="col-3" type="text" />
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.country" }}</label>
    <select class="col-3 select-event-country">
      {{#each creatorCountries }}
        {{#if this.separator }}
          <option class="disabled" disabled="disabled">---</option>
        {{else}}
          <option value="{{ this.type_id }}">{{ this.label }}</option>
        {{/if}}
      {{/each}}
    </select>
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.date_begin" }}</label>
    <input data-attribute="date_begin" class="col-3" type="date" />
  </fieldset>
  <fieldset>
    <label class="col-3">{{t "customInputs:CreatorField.event.date_end" }}</label>
    <input data-attribute="date_end" class="col-3" type="date" />
  </fieldset>
</fieldset>
