<div class="document {{#if_eq status compare="public"}}{{else}}contribution{{/if_eq}} item {{#if slides_matches}}match{{/if}} {{media.pdf}} {{media.video}} {{media.img}}" data-status="{{#if force_open}}force-open{{/if}}" id="doc-{{slug_id}}" data-cursor="0" data-size="{{slides_opened.length}}" data-int-id="{{slug_id}}" data-ref-ids="{{#each references}}{{this}} {{/each}}">
  <div class="subtitle">
    <div class="table">
      <div class="text toggle-preview"><p>{{{decorate_lite title}}}</p></div>
      {{!-- <div class="action set-leader"><i class="fa fa-thumb-tack"></i></div> --}}
      <!-- div class="icon toggle-preview fa icon-pdf"></div>
      <div class="icon toggle-preview fa icon-video"></div>
      <div class="icon toggle-preview fa icon-img"></div -->
      {{!-- <div class="icon toggle-preview fa fa-paperclip icon-img"></div> --}}
      <div class="icon toggle-preview fa fa-paperclip icon-img"></div>
    </div>
  </div>
  <div class='paragraphs'>
    <div class="pusher"></div>
    <div class='paragraph'>
      <div class='author'>
        <p>{{author.name}} {{author.surname}} - {{date_lite date}}</p>
      </div>
    </div>
    {{#if preview}}
      {{#each preview.children}}
        <div class='paragraph'><!-- type: {{type}}, kind: {{kind}}  -->

          {{#if_eq type compare='paragraph'}}
            <span class="number">- {{display_number}} -</span>
            <div class="text content">{{{decorate markdown}}}</div>
          {{/if_eq}}

          {{#if_eq type compare='reference'}}
            <span class="number unselectable">- {{display_number}} -</span>
            <div class="ref unselectable" data-id="{{biblib_id}}"><div class="content unselectable" data-ref="ref-{{biblib_id}}">{{text}}</div></div>
          {{/if_eq}}


          {{#if_eq type compare='media'}}
            {{#if_eq kind compare='quote'}}
            <span class="number">- {{display_number}} -</span>
            <div class="citation"><div class="content">{{{text}}}</div></div>
            {{/if_eq}}

            {{#if_eq kind compare='link'}}
            <span class="number">- {{display_number}} -</span>
            <div class="citation">
              <div class="content">{{{html}}}</div>
            </div>
            {{/if_eq}}

            {{#if_eq kind compare='pdf'}}
              <span class="number unselectable">- {{display_number}} -</span>
              {{#if internal}}
                <div class="media pdf unselectable" id="pdf-{{display_number}}" data-pdf="{{storage_url path}}"></div>
              {{else}}
                <div class="media pdf unselectable">
                  <div class="media pdf unselectable" data-html="{{html}}"></div>
                </div>
              {{/if}}
            {{/if_eq}}

            {{#if_eq kind compare='video'}}
              <span class="number unselectable">- {{display_number}} -</span>
              <div class="media video unselectable" id="video-{{display_number}}" data-video="{{html}}"></div>
            {{/if_eq}}

            {{#if_eq kind compare='image'}}
            <span class="number unselectable">- {{display_number}} -</span>
            <div class="media unselectable">
              <div>
                {{#if internal}}
                  <img class="image" data-src="{{CONFIG "endpoint"}}/resources/images/{{path}}"/>
                {{else}}
                  <div class="media pdf unselectable" data-html="{{html}}"></div>
                {{/if}}
              </div>
            </div>
            {{/if_eq}}

            {{#if reference}}
            <div class="ref unselectable" data-id="{{reference.biblib_id}}">
              <div class="content unselectable" data-ref="ref-{{reference.biblib_id}}">{{text}}</div>
            </div>
            {{/if}}
          {{/if_eq}}
        </div>
      {{/each}}
    {{/if}}






    <div class='slides-matches'>
      {{#each slides_matches}}
        <div class='slide-match'>
          {{#each children}}
            <div class='paragraph match' data-slide-index="{{../display_number}}" id="dp-m-{{id}}">
              {{#if_eq type compare='paragraph'}}
                <span class="number">- {{display_number}} -</span>
                <div class="text content">{{{decorate markdown}}}</div>
              {{/if_eq}}

              {{#if_eq type compare='reference'}}
                <span class="number unselectable">- {{display_number}} -</span>
                <div class="ref unselectable" data-id="{{biblib_id}}"><div class="content unselectable" data-ref="ref-{{biblib_id}}">{{text}}</div></div>
              {{/if_eq}}


              {{#if_eq type compare='media'}}

                {{#if_eq kind compare='quote'}}
                <span class="number">- {{display_number}} -</span>
                <div class="citation"><div class="content">{{{text}}}</div></div>
                {{/if_eq}}

                {{#if_eq kind compare='link'}}
                <span class="number">- {{display_number}} -</span>
                <div class="citation">
                  <div class="content">{{{html}}}</div>
                </div>
                {{/if_eq}}

                {{#if_eq kind compare='pdf'}}
                  <span class="number unselectable">- {{display_number}} -</span>
                  {{#if internal}}
                    <div class="media pdf unselectable" id="pdf-{{display_number}}" data-pdf="{{storage_url path}}"></div>
                  {{else}}
                    <div class="media pdf unselectable">
                      <div class="media pdf unselectable" data-html="{{html}}"></div>
                    </div>
                  {{/if}}
                {{/if_eq}}

                {{#if_eq kind compare='video'}}
                  <span class="number unselectable">- {{display_number}} -</span>
                  <div class="media video unselectable" id="video-{{display_number}}" data-video="{{html}}"></div>
                {{/if_eq}}

                {{#if_eq kind compare='image'}}
                <span class="number unselectable">- {{display_number}} -</span>
                <div class="media unselectable">
                  <div>
                    {{#if internal}}
                      <img class="image" data-src="{{CONFIG "endpoint"}}/resources/images/{{path}}"/>
                    {{else}}
                      <div class="media pdf unselectable" data-html="{{html}}"></div>
                    {{/if}}
                  </div>
                </div>
                {{/if_eq}}

                {{#if reference}}
                <div class="ref unselectable" data-id="{{reference.biblib_id}}">
                  <div class="content unselectable" data-ref="ref-{{reference.biblib_id}}">{{reference.text}}</div>
                </div>
                {{/if}}
              {{/if_eq}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>



    {{#if children.length}}
    <div class='slides-box'>
      <div class="slides-nav">
        <div class="left"><i class="fa fa-angle-left"></i></div>
        <div class="right"><i class="fa fa-angle-right"></i></div>
        <div class="nav-wrapper">
          <div class="placeholders">
            <div class="placeholder" data-index="0" style="position:absolute;display:block;left:0%;width:100%;"></div>
          </div>
          <div class="cursors">
            <div class="cursor" style="width:50%;"></div>
          </div>
        </div>
      </div>
      <div class='slides-wrapper {{#if_gt children.length compare=1}}with-navigation{{/if_gt}}' data-length="{{children.length}}">

        {{#foreach children}}
          <div class='slide' data-index="{{$index}}" style='left: {{multiply $index 100}}%;'>
            {{#each children}}

            <div class='paragraph' id="dp-{{id}}"><!-- type: {{type}}, kind: {{kind}}  -->
              {{#if_eq type compare='paragraph'}}
                <span class="number">- {{display_number}} -</span>
                <div class="text content">{{{decorate markdown}}}</div>
              {{/if_eq}}

              {{#if_eq type compare='reference'}}
                <span class="number unselectable">- {{display_number}} -</span>
                <div class="ref unselectable" data-id="{{biblib_id}}"><div class="content unselectable" data-ref="ref-{{biblib_id}}">{{text}}</div></div>
              {{/if_eq}}


              {{#if_eq type compare='media'}}

                {{#if_eq kind compare='quote'}}
                <span class="number">- {{display_number}} -</span>
                <div class="citation"><div class="content">{{{text}}}</div></div>
                {{/if_eq}}

                {{#if_eq kind compare='link'}}
                <span class="number">- {{display_number}} -</span>
                <div class="citation">
                  <div class="content">{{{html}}}</div>
                </div>
                {{/if_eq}}

                {{#if_eq kind compare='pdf'}}
                  <span class="number unselectable">- {{display_number}} -</span>
                  {{#if internal}}
                    <div class="media pdf unselectable" id="pdf-{{display_number}}" data-pdf="{{storage_url path}}"></div>
                  {{else}}
                    <div class="media pdf unselectable" data-html="{{html}}"></div>
                  {{/if}}
                {{/if_eq}}

                {{#if_eq kind compare='video'}}
                  <span class="number unselectable">- {{display_number}} -</span>
                  <div class="media video unselectable" id="video-{{display_number}}" data-video="{{html}}"></div>
                {{/if_eq}}

                {{#if_eq kind compare='image'}}
                <span class="number unselectable">- {{display_number}} -</span>
                <div class="media unselectable">
                  <div>
                    {{#if internal}}
                      <img class="image" data-src="{{CONFIG "endpoint"}}/resources/images/{{path}}"/>
                    {{else}}
                      <div class="media pdf unselectable" data-html="{{html}}"></div>
                    {{/if}}
                  </div>
                </div>
                {{/if_eq}}

                {{#if reference}}
                <div class="ref unselectable" data-id="{{reference.biblib_id}}">
                  <div class="content unselectable" data-ref="ref-{{reference.biblib_id}}">{{reference.text}}</div>
                </div>
                {{/if}}
              {{/if_eq}}

            </div>
            {{/each}}
          </div>
        {{/foreach}}
      </div>
    </div>
    {{/if}}
    <div class="pusher"></div>
    {{!-- div class="ellipsis"><div class="ellipsis-inner open-document action set-leader slave-keep"><span>[ {{t "open_document"}} ]</span></div></div --}}
    <div class="actions slave-keep">
      <div class="shadow"></div>
      <div class="wrapper">
       <div class="action left slave-keep">
          <p class="read-more">{{t "preview"}}</p>
          <p class="read-less">{{t "collapse"}}</p>
        </div>
        <div class="action right slave-keep">
          <p class="set-leader">{{t "explore"}}</p>
        </div>
        <div class="action middle">
          <p class="set-leader">{{t "explore"}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
