<div class="document item {{#if_eq type compare="match"}}match{{/if_eq}} {{media.pdf}} {{media.video}} {{media.img}}" data-status="{{#if force_open}}force-open{{/if}}" id="doc-{{id}}" data-cursor="0" data-size="{{slides_opened.length}}" data-int-id="{{id}}" data-ref-ids="{{#each references}}{{this}} {{/each}}">
  <div class="subtitle">
    <div class="table">
      <div class="text toggle-preview"><p>{{{decorate_lite title}}}</p></div>
      {{!-- <div class="action set-leader"><i class="fa fa-thumb-tack"></i></div> --}}
      <!-- div class="icon toggle-preview fa icon-pdf"></div>
      <div class="icon toggle-preview fa icon-video"></div>
      <div class="icon toggle-preview fa icon-img"></div -->
      {{!-- <div class="icon toggle-preview fa fa-paperclip icon-img"></div> --}}
      <div class="icon toggle-preview fa fa-paperclip icon-img"></div>
    </div>
  </div>
  <div class='paragraphs'>
    <div class="pusher"></div>
    <div class='paragraph'>
      <div class='author'>
        <p>Turo Burlano - 07/08/13</p>
      </div>
    </div>
    {{#if preview}}
      {{#each preview.children}}
        <div class='paragraph'><!-- type: {{type}}, kind: {{kind}}  -->
          
          {{#if_eq type compare='paragraph'}}
            {{{decorate markdown}}}
          {{/if_eq}}

          {{#if_eq type compare='reference'}}
            <span class="number unselectable">- 1 -</span>
            <div class="ref unselectable" data-id="{{biblib_id}}"><div class="content unselectable" data-ref="ref-{{biblib_id}}"></div></div>
          {{/if_eq}}


          {{#if_eq type compare='media'}}
            {{#if_eq kind compare='html'}}
              <span class="number">- {{$index}} -</span>
              <div class="citation"><div class="content">{{{html}}}</div>
            {{/if_eq}}
            {{#if_eq kind compare='image'}}
            <span class="number unselectable">- {{$index}} -</span>
            <div class="media unselectable">
              <div><img class="image" data-src="http://www.modesofexistence.org/inquiry/images/uploaded/{{basename filename}}/710x710-{{filename}}"/></div>
            </div>
            {{/if_eq}}

          {{/if_eq}}
        </div>
      {{/each}}
    {{/if}}





    <div class='slides-matches'>
      {{#each slides_matches}}
        <div class='slide-match'>
          {{#each content}}
            <div class='paragraph {{#if_eq type compare="match"}}match{{/if_eq}}' data-slide-index="{{../index}}" id="dp-m-{{id}}">
              {{#if text}}
                <span class="number">- {{text.number}} -</span>
                <div class="text content"><p>{{#if text.content.slices.length }}{{{parse text.content.slices}}}{{else}}{{{decorate text.content.content}}}{{/if}}</p></div>
              {{/if}}
              {{#if citation}}
                <span class="number">- {{citation.number}} -</span>
                <div class="citation"><div class="content">{{#if citation.content.slices.length }}{{{parse citation.content.slices}}}{{else}}{{{decorate citation.content.content}}}{{/if}}</div></div>
              {{/if}}
              {{#if reference}}
                <span class="number">- {{reference.number}} -</span>
                <div class="ref" data-id="{{reference.content}}"><div class="content" data-ref="ref-{{reference.content}}"></div></div>
              {{/if}}
              {{#if image}}
                <span class="number ">- {{image.number}} -</span>
                <div class="media "><div><img class="image" data-height="{{image.height}}" data-width="{{image.width}}" data-src="{{image.content}}" /></div></div>
              {{/if}}
              {{#if vimeo}}
                <span class="number ">- {{vimeo.number}} -</span>
                <div class="media "><div><iframe class="vimeo" data-src="http://player.vimeo.com/video/{{vimeo.content}}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>
              {{/if}}
              {{#if issuu}}
                <span class="number ">- {{issuu.number}} -</span>
                <div class="media pdf " id="pdf-{{issuu.number}}" data-pdf="{{issuu.content}}"></div>
                <!-- div class="media"><div><iframe class="issuuembed" data-src="//e.issuu.com/embed.html#{{issuu.content}}" frameborder="0" allowfullscreen></iframe></div></div -->
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>



    {{#if children.length}}
    <div class='slides-box'>
      <div class="slides-nav">
        <div class="left"><i class="fa fa-angle-left"></i></div>
        <div class="right"><i class="fa fa-angle-right"></i></div>
        <div class="nav-wrapper">
          <div class="placeholders">
            <div class="placeholder" data-index="0" style="position:absolute;display:block;left:0%;width:100%;"></div>
          </div>
          <div class="cursors">
            <div class="cursor" style="width:50%;"></div>
          </div>
        </div>
      </div>
      <div class='slides-wrapper {{#if_gt children.length compare=1}}with-navigation{{/if_gt}}' data-length="{{children.length}}">
        

        {{#foreach children}}
          <div class='slide' data-index="{{$index}}" style='left: {{multiply $index 100}}%;'>
            {{#each content}}<div class='paragraph {{#if annotated}}annotated{{/if}}' {{#if annotated}}data-notes='{{annotated}}'{{/if}} id="dp-{{id}}">
                {{type}}
                {{#if text}}
                  <span class="number">- {{text.number}} -</span>
                  <div class="text content">{{#if text.content.slices.length }}{{{parse text.content.slices}}}{{else}}{{{decorate text.content.content}}}{{/if}}</div>
                {{/if}}
                {{#if citation}}
                  <span class="number">- {{citation.number}} -</span>
                  <div class="citation"><div class="content">{{#if citation.content.slices.length }}{{{parse citation.content.slices}}}{{else}}{{{decorate citation.content.content}}}{{/if}}</div></div>
                {{/if}}
                {{#if image}}
                  <span class="number unselectable">- {{image.number}} -</span>
                  <div class="media unselectable"><div><img class="image" data-height="{{image.height}}" data-width="{{image.width}}" data-src="{{image.content}}" /></div></div>
                {{/if}}
                {{#if vimeo}}
                  <span class="number unselectable">- {{vimeo.number}} -</span>
                  <div class="media unselectable"><div><iframe class="vimeo" data-src="http://player.vimeo.com/video/{{vimeo.content}}?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div></div>
                {{/if}}
                {{#if issuu}}
                  <span class="number unselectable">- {{issuu.number}} -</span>
                  <div class="media pdf unselectable" id="pdf-{{issuu.number}}" data-pdf="{{issuu.content}}"></div>
                  <!-- div class="media"><div><iframe class="issuuembed" data-src="//e.issuu.com/embed.html#{{issuu.content}}" frameborder="0" allowfullscreen></iframe></div></div -->
                {{/if}}
                {{#if reference}}
                  <span class="number unselectable">- {{reference.number}} -</span>
                  <div class="ref unselectable" data-id="{{reference.content}}"><div class="content unselectable" data-ref="ref-{{reference.content}}"></div></div>
                {{/if}}</div>
              {{/each}}

          </div>
        {{/foreach}}
      </div>
    </div>
    {{/if}}
    <div class="pusher"></div>
    {{!-- div class="ellipsis"><div class="ellipsis-inner open-document action set-leader slave-keep"><span>[ {{t "open_document"}} ]</span></div></div --}}
    <div class="actions slave-keep">
      <div class="shadow"></div>
      <div class="wrapper">
       <div class="action left slave-keep">
          <p class="read-more">{{t "preview"}}</p>
          <p class="read-less">{{t "collapse"}}</p>
        </div>
        <div class="action right slave-keep">
          <p class="set-leader">{{t "explore"}}</p>
        </div>
        <div class="action middle">
          <p class="set-leader">{{t "explore"}}</p>
        </div>
      </div>
    </div>

  </div>
</div> 