<header id="header" meta-status='closed'>
      <!-- TOP MENU -->

      <div class='top'>
        <div class='content'>
          <a id="terms-popup-caller"   target="_blank" href="{{settings.blog_url}}/#terms-of-use" > {{t 'conditions générales d\'utilisation'}}</a> |
          <a id="legal-popup-caller"   target="_blank" href="{{settings.blog_url}}/#legal" > {{t 'mentions légales'}}</a> |
          <a id="soutien-popup-caller" target="_blank" href="{{settings.blog_url}}/#support" > {{t 'soutien'}}</a> |
          <a id="credits-popup-caller" target="_blank" href="{{settings.blog_url}}/#credits"> {{t 'credits'}}</a>
        </div>
      </div>

    <div class='bottom'>
      <div class='content'>
        <div class='logos'>
          <div>
            <img class='medialab' src='images/logo_medialab.png' />
          </div>
          <div>
            <img class='erc' src='images/logo_erc.png' />
            <img class='eu' src='images/logo_eu.png' />
            <img class='sciencespo' src='images/logo_sciencespo.png' />
          </div>
        </div>

        <!-- TWITTER -->

        <div class='twitter' id="twitter-box">
          <div class='container'>
            <div class="up"></div>
            <div class="down"></div>
            <div class="tweets" ></div>
          </div>
        </div>

        <!-- TOP MENU -->

        <div class='menu'>
          <div class="links">
            <ul>
              <!-- link to the crossings platform with current lang -->
              <li><a href='{{settings.crossings_home}}/#/{{lang}}' target='_blank'>{{t 'croisements'}}</a></li>
              <li><a href='{{settings.base_url}}' target='_blank'>{{t 'accueil'}}</a></li>
              <li><a href='mailto:contact@modesofexistence.org'>contact</a></li>
            </ul>
          </div>
          <div class="language">
            <div class="langBloc" data-lang="fr">{{t 'french'}}</div>
              <img src="images/_or.png">
            <div class="langBloc" data-lang="en">{{t 'english'}} </div>
          </div>

            <ul style='display:none;'>
              <li><span style='opacity:.2;cursor:default;'>font size</span></li>
              <li style='opacity:.2;cursor:default;'>
                <img class='' src='images/a-plus.png' />100%
                <img class='' src='images/a-minus.png' />
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div class='redbig'></div>

    <!-- REAL MENU -->

    <nav>
      <div class="menu">
        <div class="logo">
          <a href="{{settings.base_url}}">
            <img src='images/logo_aime_{{lang}}.png'/>
          </a>
        </div>

        <!-- SEARCH -->

        <div class="filter">
          <div>
            <input id="search-query" type="search" name="search">
            <input id="search-button" type="button">
          </div>
        </div>

        <!-- USER NAME / PROFILE -->

        <div class="name">
          <p>
            <span class="fl-b">&nbsp;</span>
            <span class="username">guest</span>
            <span class="fl-i">'</span>s<span class="fl-si">&nbsp;</span><span>workspace</span>
          </p>
        </div>

        <!-- PHOTO / SETTINGS -->



        <div class="photo">
          {{!-- <a href="" target="_blank"><!-- user profile link -->

            Adding inline text-align
          --}}
          <div style="text-align:center">
            <div class="dropdownContain">
              <div class="dropOut">
                <div class="triangleStroke"></div>
                <div class="triangleFill"></div>
                <ul>
                  <li>{{t 'données personnelles'}}</li>
                </ul>
              </div>
            </div>
            {{#if user.avatar}}
              <img src='{{CONFIG "endpoint"}}/resources/images/{{path}}'/><!-- user image will be here -->
            {{else}}
              <i class="fa fa-user"></i>
            {{/if}}

          </div>
          {{!-- </a> --}}
        </div>


        <!-- NOTEBOOK -->

        <div class="notebook">
          <a href="{{settings.base_url}}/#a=NOTEBOOK' ?>">
          <div>
            <div class="dropdownContain">
              <div class="dropOut">
                <div class="triangleStroke"></div>
                <div class="triangleFill"></div>
                <ul>
                  <li>{{t 'calepin'}}</li>
                </ul>
              </div>
            </div>
          </div>
          </a>
        </div>

        <!-- LOGOUT -->

        <div class="signout">
          <a href="#">
          <div>
            <div class="dropdownContain">
              <div class="dropOut">
                <div class="triangleStroke"></div>
                <div class="triangleFill"></div>
                <ul>
                  <li>{{t 'se déconnecter'}}</li>
                </ul>
              </div>
            </div>
          </div>
          </a>
        </div>

        <!-- HELP -->

        <div class="help">
          <a href="{{settings.blog_url}}/tuto-contribution/" target="_blank"><!-- link to http://www.modesofexistence.org/tuto-contribution/ -->
          <div>
            <div class="dropdownContain">
              <div class="dropOut">
                <div class="triangleStroke"></div>
                <div class="triangleFill"></div>
                <ul>
                  <li>{{t 'help'}}</li>
                </ul>
              </div>
            </div>
          </div>
          </a>
        </div>

        <!-- MENU TOGGLE -->

        <div class="toggle_menu">
          <p>{{t 'more'}}</p>
        </div>

      </div>
    </nav>

</header>
