<div id="reset">
  <div class="wrapper">
    <h2>{{t 'new_password'}}</h2>
    <div class="line"></div>
    <p>
      <label>{{t 'password'}}</label>
      <input id="password" type="password" placeholder="password">
    </p>

    <p>
      <label>{{t 'repeat_password'}}</label>
      <input id="repeat" type="password" placeholder="repeat">
    </p>

    <!-- button>{{t 'forgotten_password'}}</button -->
    <div class="actions">
      <div class="line" style="margin-top: 10px;"></div>
      <table cellspacing="0">
        <tr>
          <td class="left">
            <a class="button" data-action="confirm">{{t 'confirm'}}</a>
          </td>
          <td class="right">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
