<div id="signup">
  <div class="wrapper">
    <form id="signupForm" action='/'>
      <button type="button" class="close" data-action="close"><i class="fa fa-close"></i></button>
      <h2>{{t 'sign up'}}</h2>
      

      <div class="slider">
        <div class="wrapper">

          <div class="slide">
            <div class="line"></div>
            <h3>step 1 of 5</h3>

            <p class="">
              <label>{{t 'first name'}}</label>
              <div id="error-name" class="invalid"></div>
              <input type="text" id="name" placeholder="{{t 'first name'}}" >
            </p>

            <p>
              <label>{{t 'last name'}}</label>
              <div id="error-signup-surname" class="invalid"></div>
              <input type="text" id="signup-surname" name="signup-surname"  placeholder="{{t 'last name'}}">
            </p>
            
            <p>
              <label>{{t 'your email'}}</label>
              <div id="error-signup-email" class="invalid"></div>
              <input type="text" id="signup-email" name="signup-email" placeholder="{{t 'email address'}}" >
            </p>
            
            <p>
              <label>{{t 'confirm your email'}}</label>
              <div id="error-signup-email-confirm" class="invalid"></div>
              <input type="text" id="signup-email-confirm" >
            </p>
            
            <p>
              <div id="error-signup-agreement" class="invalid"></div>
            <input type="checkbox" id="signup-agreement">
              {{t 'I agree to the'}} <span>{{t 'Terms of Use'}}</span> and the terms of the Data Protection Declaration  <span>{{t 'Mention CNIL'}}</span>
            </p>

          </div>

          <div class="slide" style="top:100%">
            <div class="line"></div>
            <h3>step 2 of 5</h3>
            <label>{{t 'password'}}</label>
            <div id="error-signup-password" class="invalid"></div>
            <input type="password" id="signup-password">

            <label>{{t 'confirm your password'}}</label>
            <div id="error-signup-password-confirm" class="invalid"></div>
            <input type="password" id="signup-password-confirm">

          </div>
          <div class="slide" style="top:200%">
            <div class="line"></div>
            <h3>step 3 of 5</h3>
            
            <label>{{t 'institution'}}</label>
            <input type="text" id="signup-institution">

            <label>{{t 'department'}}</label>
            <input type="text" id="signup-department">

            <label>{{t 'discipline'}}</label>
            <input type="text" id="signup-discipline">

          </div>
          <div class="slide" style="top:300%">
            <div class="line"></div>
            <h3>step 4 of 5</h3>

          </div>
          <div class="slide" style="top:400%">
            <div class="line"></div>
            <h3>step 5 of 5</h3>

          </div>

          <div class="slide" style="top:500%">
            <div class="line"></div>
            <h3>{{t 'terms of use'}}</h3>
          </div>

          <div class="slide" style="top:600%">
            <div class="line"></div>
            <h3>Other clnil</h3>
          </div>
        </div>
      </div>

      <div class="actions">
        <div class="line"></div>

        <table cellspacing="0">
          <tr>
            <td class="left">
              <a class="button" data-action="previous">{{t 'previous'}}</a>
            </td>
            <td class="right">
              <button data-action="next">{{t 'next'}}</button>
              <!-- button data-action="validate">{{t 'next'}}</button -->
              <!-- button>{{t 'sign_up'}}</button -->
            </td>
          </tr>
          
        </table>
      </div>

    </form>
  </div>
</div>